UPDATE {{.Table}} o SET revision=o.revision+1 FROM {{.TempTable}} n WHERE 
	   o.{{.IdColumn}}=n.{{.IdColumn}} and (o.hash <> n.hash or (o.hash = n.hash and o.last_update_date <> n.last_update_date));
